{
    "presets": ["@babel/preset-env"],
    "ignore": [
        "./src/public"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties"
    ]
}
